{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "preserve",
  "jsxSingleQuote": true,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "embeddedLanguageFormatting": "off",
  "overrides":
    [
      {"files": "*.html", "options": {"parser": "html"}},
      {"files": "*.css", "options": {"parser": "css"}},
      {"files": "*.json", "options": {"parser": "json"}},
      {"files": "*.js", "options": {"parser": "babel"}}
    ]
}
